{% extends "../base.html" %}
{% load static %}
{% block content %}



<body>
    <!-- Server Setting -->
    <h1 style="color: white; border-radius: 6px;">Server Setting</h1>
      <form method="post" id="form11" style="background-color: #1a2337;">
          {% csrf_token %}
          <div style="margin-bottom: 15px; width: 15%; ">

            <label for="serverName" >Server Name:</label>
            <input type="text" id="serverName" name="serverName" class="textbox" required><br>
            <label for="adminPassword" >adminPassword:</label>
            <input type="text" id="adminPassword" name="adminPassword" class="textbox" required><br>
            <label for="spectatorPassword">Spectator Password:</label>
            <input type="text" id="spectatorPassword" class="textbox" name="spectatorPassword"><br>

            <label >TR Requirement (0-3 Star):</label>
            <input type="number" id="TR" name="TR" min="0" max="3" class="textbox" pattern="\d*">
            <label >SA Requirement:</label>
            <input type="number" id="SA" name="SA" min="1" max="99" class="textbox" pattern="\d*" required>
            <label>RC Requirement:</label>
            <input type="number" id="RC" name="RC" min="1" max="99" class="textbox" pattern="\d*">
            <div style="padding-top: 4%;">
              <select name="formationLapType" id="formationLapType" style="width: 83%;"class="textbox" >
                  <option value="0">&#40;1&#41;free 	&#40;replaces/manual start&#41;</option>
                  <option value="1">&#40;2&#41;Old Limiter Lap</option>
                  <option value="3">&#40;3&#41;Default Formation Lap</option>
                  <option value="4">&#40;4&#41;One Free Formation Lap &#40;ghosted&#41;</option>
                  <option value="5">&#40;5&#41;Short Formation with UI + ghosted lap</option>
              </select><br>
            </div>
          </div>
          

          <div style="width: 70%;">    
            <label >Track</label>
            <select name="track" id="track" name="track"  method="POST" class="textbox" style="width: 100%;">
              <option value="barcelona">Barcelona</option>
              <option value="brands_hatch">Brands Hatch</option>
              <option value="cota">COTA</option>
              <option value="hungaroring">hungaroring</option>
              <option value="imola">imola</option>
              <option value="indianapolis">indianapolis</option>
              <option value="kyalami">kyalami</option>
              <option value="laguna_seca">laguna seca</option>
              <option value="misano">misano</option>
              <option value="monza">monza</option>
              <option value="mount_panorama">Mount Panorama</option>
              <option value="nurburgring">nurburgring</option>
              <option value="oulton_park">oulton park</option>
              <option value="paul_ricard">paul ricard</option>
              <option value="silverstone">silverstone</option>
              <option value="snetterton">snetterton</option>
              <option value="spa">spa</option>
              <option value="suzuka">suzuka</option>
              <option value="watkins_glen">watkins glen</option>
              <option value="valencia">valencia</option>
              <option value="zandvoort">zandvoort</option>
              <option value="zolder">zolder</option>
            </select>
          </div>

          <div style="margin-bottom: 15px; color: white; width: auto;padding-top: 2%; padding-left: 2%;">
            Ambient Temperature<input name="amTemp" id="amTemp" method="post" type="range" value="22" min="10" max="35" oninput="this.nextElementSibling.value = this.value">
            <output >22</output><br><br>
            Track Temperature<input name="trTemp" id="trTemp" method="post" type="range" value="25" min="1" max="49" oninput="this.nextElementSibling.value = this.value">
            <output>24</output><br><br>
            Cloud Coverage<input name="cCover" id="cCover" method="post" type="range" value="50" min="0" max="100" oninput="this.nextElementSibling.value = this.value">
            <output>50</output><br><br>
            Rain Level<input name="rLevel" id="rLevel" method="post" type="range" value="0" min="0" max="100" oninput="this.nextElementSibling.value = this.value">
            <output>0</output><br><br>
            Weather Randomness<input name="wRandom" id="wRandom" method="post" type="range" value="0" min="0" max="7" oninput="this.nextElementSibling.value = this.value">
            <output>0</output><br><br>
          </div>

          <div style="width: 90%;">
            <table style="width: 90%;" >
              <thead style="width: 20%;">
                  <tr>
                      <th>Session</th>
                      <th>Day</th>
                      <th>Time Scale</th>
                      <th>Start Time</th>
                      <th>Duration &#40;minute&#41; </th>
                  </tr>
              </thead>
              <tbody name="race_schedule">
                  <tr>
                      <td>
                          <select name="session" id="session" class="sessionDay">
                              <option value="Q">Qualifying</option>
                              <option value="R">Race</option>
                          </select>
                      </td>
                      <td>
                          <select name="day" id="day" class="day">
                              <option value="1">Friday</option>
                              <option value="2">Saturday</option>
                              <option value="3">Sunday</option>
                          </select>
                      </td>
                      <td>
                        <input name="time_scale" type="number" id="time_scale" min="0" max="23" required/>
                      </td>
                      <td>
                        <input name="start_time" type="number" id="start_time" min="0" max="23" required/>
                      </td>
                      <td><input type="number" name="duration" id="duration"></td>
                      
                      </td>
                  </tr>
                  <tr>
                    <td>
                        <select name="sessionR" id="sessionR" class="sessionDay">
                            <option value="R">Race</option>
                        </select>
                    </td>
                    <td>
                        <select name="dayR" id="dayR" class="day">
                            <option value="1">Friday</option>
                            <option value="2">Saturday</option>
                            <option value="3">Sunday</option>
                        </select>
                    </td>
                    <td>
                      <input name="time_scaleR" type="number" id="time_scaleR" min="0" max="23" required/>
                    </td>
                    <td>
                      <input name="start_timeR" type="number" id="start_timeR" min="0" max="23" required/>
                    </td>
                    <td><input type="number" name="durationR" id="durationR"></td>
                    
                    </td>
                </tr>
                <!--
                  <tr>
                    <td>
                      Race
                    </td>
                    <td>
                      <select name="raceDuration" id="raceDuration">
                        <option value="15">15 minutes</option>
                        <option value="20">20 minutes</option>
                        <option value="30">30 minutes</option>
                        <option value="45">45 minutes</option>
                        <option value="60">60 minutes</option>
                    </select>
                  </tr>
                   Add more rows dynamically with JavaScript -->
              </tbody>
            </table>
            <td>
              
          </td>
            <button type="button" id="add-row" onclick="addRow()" style="display: none;">Add Row</button>
            <button type="button" id="add-row" onclick="deleteRow()" style="display: none;" >Delete Row</button>
          </div>
          
      </form>
      <div style="padding-left: 25%; width: 50%; padding-top: 1%;">
        <input class="btnLogin" type="submit" value="Create Server"  form="form11">
      </div>
        
        
    <style>
      form{
        display:block;
        justify-content: center; 
        align-items: center; 
        height: calc(100% - 120px); 
        margin-top: 120px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        padding: 20px;
        border: 1px solid #ddd;
        box-sizing: border-box;
        width: 60%;
        margin-left: 5%;
        width: 90%;
        color:white;
      }
      input{
        display: block;
        width: 80%;
        padding-left: 5%;
      }
      .btnLogin{
        width: 100%;
        padding: 10px 20px; background-color: #639fab; border-radius: 2px;
      }
      output{
        display: block;
        text-align: center;
      }
      .textbox{
        background-color: #0D1321;
        border: 2px solid #3B3F49;
        border-radius: 4px;
        color: #FFFFFF;
        font-size: 16px;
        padding: 8px;
      }
      .day
      {
        width: 85%;
      }
      .sessionDay
      {
        width: 85%;
      }
    </style>

<script>
  function addRow() {
    var table = document.querySelector("table");
    var row = table.insertRow(-1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);

    var timeScaleOptions = document.querySelector("select[name='time_scale']").innerHTML;

    cell1.innerHTML =
      '<select name="session"><option value="q">Qualifying</option><option value="r">Race</option></select>';
    cell2.innerHTML =
      '<select name="day"><option value="1">Friday</option><option value="2">Saturday</option><option value="3">Sunday</option></select>';
    cell3.innerHTML =
      '<select name="time_scale">' + timeScaleOptions + '</select>';
    cell4.innerHTML = '<select name="start_time">' + document.querySelector("select[name='start_time']").innerHTML + '</select>';
    cell5.innerHTML = '<input type="number" name="duration">';
  }

  function deleteRow() 
  {
    var table = document.querySelector("table");
    if (table.rows.length > 2) 
    {
      table.deleteRow(-1);
    }
  }
</script>

</body>
{% endblock content %}