{% extends "../base.html" %}
{% load static %}
{% block content %}



<body>
    <!-- Server Setting -->
    <h1 style="color: white;">Server Setting</h1>
      <form method="post" id="form11">
          {% csrf_token %}
          <div style="margin-bottom: 15px; width: 15%;">

            <label for="serverName" >Server Name:</label>
            <input type="text" id="serverName" name="serverName" required><br>
            <label for="adminPassword" >adminPassword:</label>
            <input type="text" id="adminPassword" name="adminPassword" required><br>
            <label for="spectatorPassword">Spectator Password:</label>
            <input type="text" id="spectatorPassword" name="spectatorPassword"><br>

            <label >TR Requirement:</label>
            <input type="number" id="TR" name="TR" min="1" max="3">
            <label >SA Requirement:</label>
            <input type="number" id="SA" name="SA" min="1" max="99" required>
            <label>RC Requirement:</label>
            <input type="number" id="RC" name="RC" min="1" max="99">
            <label>Max Connections:</label>
            <input type="number" id="mConnection" name="mConnection" min="1" max="30">
            <label>Max Car Slots:</label>
            <input type="number" id="mCarSlot" name="mCarSlot" min="1" max="99">
            <div style="padding-top: 4%;">
              <select name="formationLap" id="formationLap" style="width: 83%;" >
                  <option value="0">&#40;1&#41;free 	&#40;replaces/manual start&#41;</option>
                  <option value="1">&#40;2&#41;Old Limiter Lap</option>
                  <option value="3">&#40;3&#41;Default Formation Lap</option>
                  <option value="4">&#40;4&#41;One Free Formation Lap &#40;ghosted&#41;</option>
                  <option value="5">&#40;5&#41;Short Formation with UI + ghosted lap</option>
              </select><br>
            </div>
          </div>
          
          <div style=" width: 15%;">
            <label for="prephase"> Prep Phase Locked</label>
            <input type="checkbox" method="POST" id="prephase" name="prephase" value="1">
            <label for="racelocked"> Race Locked</label>
            <input type="checkbox" method="POST" id="racelocked" name="racelocked" value="1">
            <label for="shortformationlap"> Short Formation Lap</label>
            <input type="checkbox" method="POST" id="shortformationlap" name="shortformationlap" value="1">
            <label for="autodq"> Auto DQ</label>
            <input type="checkbox" method="POST"  id="autodq" name="autodq" value="1">
            <label for="randomizetrack"> Randomize Track</label>
            <input type="checkbox" method="POST"  id="randomizetrack" name="randomizetrack" value="1">
            <label for="registerlobby"> registerlobby</label>
            <input type="checkbox" method="POST" id="registerlobby" name="registerlobby" value="1">
            <label for="landiscovery"> Lan Discovery</label>
            <input type="checkbox" method="POST"   id="landiscovery" name="landiscovery" value="1">
            <label for="dumpleaderboard"> Dump Leaderboard</label>
            <input type="checkbox" method="POST"   id="dumpleaderboard" name="dumpleaderboard" value="1">
            <label for="dumpentrylist"> Dump Entry List</label>
            <input type="checkbox" method="POST"  id="dumpentrylist" name="dumpentrylist" value="1">
          </div>

          <div style="width: 15%;">    

            Pre Race Wait Time    <input type="number" id="preRace" method="POST" name="preRace"  min="30" max="500" required>
            Post Race Wait Time   <input type="number" id="postRace" method="POST" name="postRace"  min="1" max="5" required>
            Over Time             <input type="number" id="overTime" min="1" method="POST" name="overTime"  max="330"required>
            Post Qualy Wait Time  <input type="number" id="postQualy" method="POST" name="postQualy" min="1" max="330" required>


            <select name="track" id="track" name="track"  method="POST" >
              <option value="barcelona">Barcelona</option>
              <option value="brands_hatch">Brands Hatch</option>
              <option value="cota">COTA</option>
              <option value="hungaroring">hungaroring</option>
              <option value="imola">imola</option>
              <option value="indianapolis">indianapolis</option>
              <option value="kyalami">kyalami</option>
              <option value="laguna_seca">laguna seca</option>
              <option value="misano">misano</option>
              <option value="monza">monza</option>
              <option value="mount_panorama">Mount Panorama</option>
              <option value="nurburgring">nurburgring</option>
              <option value="oulton_park">oulton park</option>
              <option value="paul_ricard">paul ricard</option>
              <option value="silverstone">silverstone</option>
              <option value="snetterton">snetterton</option>
              <option value="spa">spa</option>
              <option value="suzuka">suzuka</option>
              <option value="watkins_glen">watkins glen</option>
              <option value="valencia">valencia</option>
              <option value="zandvoort">zandvoort</option>
              <option value="zolder">zolder</option>
            </select>
          </div>

          <div style="margin-bottom: 15px; color: white; width: auto;padding-top: 2%; padding-left: 2%;">
            Ambient Temperature<input name="amTemp" id="amTemp" method="post" type="range" value="22" min="10" max="35" oninput="this.nextElementSibling.value = this.value">
            <output >24</output><br><br>
            Track Temperature<input name="trTemp" id="trTemp" method="post" type="range" value="25" min="1" max="49" oninput="this.nextElementSibling.value = this.value">
            <output>24</output><br><br>
            Cloud Coverage<input name="cCover" id="cCover" method="post" type="range" value="50" min="0" max="100" oninput="this.nextElementSibling.value = this.value">
            <output>24</output><br><br>
            Rain Level<input name="rLevel" id="rLevel" method="post" type="range" value="50" min="0" max="100" oninput="this.nextElementSibling.value = this.value">
            <output>24</output><br><br>
            Weather Randomness<input name="wRandom" id="wRandom" method="post" type="range" value="3" min="0" max="7" oninput="this.nextElementSibling.value = this.value">
            <output>4</output><br><br>
          </div>

          <div>
            <table>
              <thead>
                  <tr>
                      <th>Session</th>
                      <th>Day</th>
                      <th>Time Scale</th>
                      <th>Start Time</th>
                      <th>Duration &#40;minute&#41; </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                          <select name="session">
                              <option value="q">Qualifying</option>
                              <option value="r">Race</option>
                          </select>
                      </td>
                      <td>
                          <select name="day">
                              <option value="1">Friday</option>
                              <option value="2">Saturday</option>
                              <option value="3">Sunday</option>
                          </select>
                      </td>
                      <td>
                          <select name="time_scale">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                              <option value="16">16</option>
                              <option value="17">17</option>
                              <option value="18">18</option>
                              <option value="19">19</option>
                              <option value="20">20</option>
                              <option value="21">21</option>
                              <option value="22">22</option>
                              <option value="23">23</option>
                              <option value="24">24</option>
                          </select>
                      </td>
                      <td>
                        <select name="start_time">
                          <option value="0">12 AM</option>
                          <option value="1">1 AM</option>
                          <option value="2">2 AM</option>
                          <option value="3">3 AM</option>
                          <option value="4">4 AM</option>
                          <option value="5">5 AM</option>
                          <option value="6">6 AM</option>
                          <option value="7">7 AM</option>
                          <option value="8">8 AM</option>
                          <option value="9">9 AM</option>
                          <option value="10">10 AM</option>
                          <option value="11">11 AM</option>
                          <option value="12">12 PM</option>
                          <option value="13">1 PM</option>
                          <option value="14">2 PM</option>
                          <option value="15">3 PM</option>
                          <option value="16">4 PM</option>
                          <option value="17">5 PM</option>
                          <option value="18">6 PM</option>
                          <option value="19">7 PM</option>
                          <option value="20">8 PM</option>
                          <option value="21">9 PM</option>
                          <option value="22">10 PM</option>
                          <option value="23">11 PM</option>
                        </select>
                      </td>
                      <td><input type="number" name="duration"></td>
                  </tr>
                  <!-- Add more rows dynamically with JavaScript -->
              </tbody>
            </table>
            <button type="button" id="add-row" onclick="addRow()" >Add Row</button>
            <button type="button" id="add-row" onclick="deleteRow()" >Delete Row</button>
          </div>
          
      </form>
      <div style="padding-left: 25%; width: 50%;">
        <input class="btnLogin" type="submit" value="home"  form="form11">
      </div>
        
        
    <style>
      form{
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: calc(100% - 120px); 
        margin-top: 120px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        padding: 20px;
        border: 1px solid #ddd;
        box-sizing: border-box;
        width: 60%;
        margin-left: 5%;
        width: 90%;
        color:white;
      }
      input{
        display: block;
        width: 80%;
        padding-left: 5%;
      }
      .btnLogin{
        width: 100%;
      }
      output{
        display: block;
        text-align: center;
      }
    </style>

<script>
  function addRow() {
    var table = document.querySelector("table");
    var row = table.insertRow(-1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);

    var timeScaleOptions = document.querySelector("select[name='time_scale']").innerHTML;

    cell1.innerHTML =
      '<select name="session"><option value="q">Qualifying</option><option value="r">Race</option></select>';
    cell2.innerHTML =
      '<select name="day"><option value="1">Friday</option><option value="2">Saturday</option><option value="3">Sunday</option></select>';
    cell3.innerHTML =
      '<select name="time_scale">' + timeScaleOptions + '</select>';
    cell4.innerHTML = '<select name="start_time">' + document.querySelector("select[name='start_time']").innerHTML + '</select>';
    cell5.innerHTML = '<input type="number" name="duration">';
  }

  function deleteRow() 
  {
    var table = document.querySelector("table");
    if (table.rows.length > 2) 
    {
      table.deleteRow(-1);
    }
  }
</script>

</body>
{% endblock content %}